# Default code owner for all files (except specified exceptions)

* @edcheyjr

# This can be changed by anyone since it is changed regularly
^[PACKAGE]
package.json
package-lock.json

# Explicitly protect CODEOWNERS
CODEOWNERS * @edcheyjr

# Files that can bypass code owner review
/src/sanity-test.js
